In [2]:
import numpy as np
import pandas as pd
l=['a','b','c']
d=[10,20,30]
arr=np.array(d)
dd={'a':10,'b':20}
pd.Series(d)

0    10
1    20
2    30
dtype: int64

In [3]:
pd.Series(d,index=l)

a    10
b    20
c    30
dtype: int64

In [4]:
pd.Series(arr,index=l)

a    10
b    20
c    30
dtype: int32

In [6]:
pd.Series(data=l)

0    a
1    b
2    c
dtype: object

In [7]:
ser1=pd.Series([1,2,3],['USA','USSR','INDIA'])
ser1

USA      1
USSR     2
INDIA    3
dtype: int64

In [8]:
ser1['USA']

1

In [9]:
ser2=pd.Series([1,2,3],['USA','USSR','INDIA'])
ser2

USA      1
USSR     2
INDIA    3
dtype: int64

In [10]:
ser1+ser2

USA      2
USSR     4
INDIA    6
dtype: int64

In [16]:
from numpy.random import randn
np.random.randn()
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','S'])
df

          X         Y         Z         S
A  1.693723 -1.706086 -1.159119 -0.134841
B  0.390528  0.166905  0.184502  0.807706
C  0.072960  0.638787  0.329646 -0.497104
D -0.754070 -0.943406  0.484752 -0.116773
E  1.901755  0.238127  1.996652 -0.993263

In [14]:
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','S'])
df

          X         Y         Z         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
from numpy.random import randn
np.random.randn()
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','S'])
df

          X         Y         Z         S
A -1.136645  0.000366  1.025984 -0.156598
B -0.031579  0.649826  2.154846 -0.610259
C -0.755325 -0.346419  0.147027 -0.479448
D  0.558769  1.024810 -0.925874  1.862864
E -1.133817  0.610478  0.386030  2.084019

In [18]:
from numpy.random import randn
np.random.seed(101)
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','S'])
df

          X         Y         Z         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
df['X']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: X, dtype: float64

In [21]:
df[['Y','Z']]

          Y         Z
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813
D -0.758872 -0.933237
E  1.978757  2.605967

In [23]:
df['new']=df['Y']+df['Z']
df

          X         Y         Z         S       new
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109
E  0.190794  1.978757  2.605967  0.683509  4.584725

In [32]:
df.drop('E',axis=0)

          X         Y         Z         S       new
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109

In [33]:
df.drop('new',axis=1)

          X         Y         Z         S
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [35]:
df.loc['C']

X     -2.018168
Y      0.740122
Z      0.528813
S     -0.589001
new    1.268936
Name: C, dtype: float64

In [37]:
df.iloc[2]

X     -2.018168
Y      0.740122
Z      0.528813
S     -0.589001
new    1.268936
Name: C, dtype: float64